RemoveDemoResourcegroups/Remove demo resourcegroups.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}},"arm_Connection_Name":{"defaultValue":"arm","type":"String","metadata":{"description":"Name of the connection."}}},"resources":[{"type":"Microsoft.Logic/workflows","name":"[parameters('logicAppName')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1},"type":"Recurrence"}},"actions":{"List_resource_groups":{"runAfter":{"Initialize_variable_2":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"ResourceGroups_List"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['arm']['connectionId']"}},"method":"get","path":"/subscriptions/@{encodeURIComponent('984d4813-0baf-4ff7-8364-4b0efc7ce75a')}/resourcegroups","queries":{"x-ms-api-version":"2016-06-01"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@body('List_resource_groups')?['value']","actions":{"Condition":{"actions":{"Delete_a_resource_group":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"ResourceGroups_Delete"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['arm']['connectionId']"}},"method":"delete","path":"/subscriptions/@{encodeURIComponent('984d4813-0baf-4ff7-8364-4b0efc7ce75a')}/resourcegroups/@{encodeURIComponent(items('Apply_to_each')?['name'])}","queries":{"x-ms-api-version":"2016-06-01"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Set_variable":["Succeeded"]},"expression":"@equals(substring(variables('current resource group'), 5, sub(length(variables('current resource group')), 5)), '2018-01-01')","type":"If"},"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"current resource group","value":"@items('Apply_to_each')?['name']"}}},"runAfter":{"List_resource_groups":["Succeeded"]},"type":"Foreach"},"Initialize_variable_2":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"current resource group","type":"String"}]}}},"outputs":{}},"parameters":{"$connections":{"value":{"arm":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'arm')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('arm_Connection_Name'))]","connectionName":"[parameters('arm_Connection_Name')]"}}}},"runtimeConfiguration":{"collections":{"maximumItemCount":100000},"performanceProfile":{"throttles":{"mode":"Medium"}}}},"dependsOn":["[resourceId('Microsoft.Web/connections', parameters('arm_Connection_Name'))]"]},{"type":"Microsoft.Web/connections","name":"[parameters('arm_Connection_Name')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'arm')]"},"displayName":"[parameters('arm_Connection_Name')]"}}]}