WhenAnEmailIsFlaggedAddATodo/When an email is flagged -_ Add a to-do.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}},"todo_Connection_Name":{"defaultValue":"todo","type":"String","metadata":{"description":"Name of the connection."}},"conversionservice_Connection_Name":{"defaultValue":"conversionservice","type":"String","metadata":{"description":"Name of the connection."}},"office365_Connection_Name":{"defaultValue":"office365","type":"String","metadata":{"description":"Name of the connection."}},"outlooktasks_Connection_Name":{"defaultValue":"outlooktasks","type":"String","metadata":{"description":"Name of the connection."}}},"resources":[{"type":"Microsoft.Logic/workflows","name":"[parameters('logicAppName')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_email_is_flagged":{"recurrence":{"interval":1,"frequency":"Minute"},"splitOn":"@triggerBody()?['value']","metadata":{"flowSystemMetadata":{"swaggerOperationId":"OnFlaggedEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['office365']['connectionId']"}},"method":"get","path":"/Mail/OnFlaggedEmail","queries":{"folderPath":"Inbox","importance":"Any","fetchOnlyWithAttachment":false,"includeAttachments":false},"authentication":"@parameters('$authentication')"}}},"actions":{"Html_to_text":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"HtmlToText"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['conversionservice']['connectionId']"}},"method":"post","body":"@triggerBody()?['Body']","path":"/html2text","authentication":"@parameters('$authentication')"}},"List_all_tasks_in_folder":{"runAfter":{"Html_to_text":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetTasksByFolder"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['outlooktasks']['connectionId']"}},"method":"get","path":"/taskfolders('@{encodeURIComponent('AAMkAGRiNDYxYTYwLTk0ZDktNGIyNi05NmI2LWJiN2YzNzFmODYwZAAuAAAAAACtAvOU2x6MR5Gntt8wbc-mAQDDw78SKqyiT6IEUpc1U5fTAABcpX_7AAA=')}')/tasks","queries":{"groupId":"AAMkAGRiNDYxYTYwLTk0ZDktNGIyNi05NmI2LWJiN2YzNzFmODYwZABGAAAAAACtAvOU2x6MR5Gntt8wbc-mBwDDw78SKqyiT6IEUpc1U5fTAAAAAAEGAADDw78SKqyiT6IEUpc1U5fTAAAJQ1bwAAA="},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@body('List_all_tasks_in_folder')","actions":{"Condition_3":{"actions":{"Get_task":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetTask"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['outlooktasks']['connectionId']"}},"method":"get","path":"/tasks('@{encodeURIComponent(items('Apply_to_each')?['Id'])}')","authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"duplicate","value":true}}},"runAfter":{"Get_task":["Succeeded"]},"expression":"@equals(body('Get_task')?['Subject'], triggerBody()?['Subject'])","type":"If"}},"runAfter":{},"expression":"@equals(variables('duplicate'), false)","type":"If"}},"runAfter":{"List_all_tasks_in_folder":["Succeeded"]},"type":"Foreach"},"Initialize_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"duplicate","type":"Boolean","value":false}]}},"Condition_2":{"actions":{"Add_a_to-do":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"CreateToDo"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['todo']['connectionId']"}},"method":"post","body":{"Subject":"@triggerBody()?['Subject']","DueDateTime":{"DateTime":"@{addDays(utcNow(),2)}","TimeZone":"UTC"},"StartDateTime":{"DateTime":"@triggerBody()?['DateTimeReceived']","TimeZone":"UTC"},"Importance":"Normal","Status":"NotStarted","Body":{"Content":"@body('Html_to_text')"},"ReminderDateTime":{"TimeZone":"UTC"}},"path":"/tasks","queries":{"folderId":"AAMkAGRiNDYxYTYwLTk0ZDktNGIyNi05NmI2LWJiN2YzNzFmODYwZAAuAAAAAACtAvOU2x6MR5Gntt8wbc-mAQDDw78SKqyiT6IEUpc1U5fTAABcpX_7AAA="},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Apply_to_each":["Succeeded"]},"expression":"@equals(variables('duplicate'), false)","type":"If"}},"outputs":{},"description":"This flow triggers on email that have been flagged in your office365 account, converts any html in the body of the message to plain text and creates a new event in your Microsoft to-do app"},"parameters":{"$connections":{"value":{"todo":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'todo')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('todo_Connection_Name'))]","connectionName":"[parameters('todo_Connection_Name')]"},"conversionservice":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'conversionservice')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('conversionservice_Connection_Name'))]","connectionName":"[parameters('conversionservice_Connection_Name')]"},"office365":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('office365_Connection_Name'))]","connectionName":"[parameters('office365_Connection_Name')]"},"outlooktasks":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'outlooktasks')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('outlooktasks_Connection_Name'))]","connectionName":"[parameters('outlooktasks_Connection_Name')]"}}}},"runtimeConfiguration":{"collections":{"maximumItemCount":100000},"performanceProfile":{"throttles":{"mode":"Medium"}}}},"dependsOn":["[resourceId('Microsoft.Web/connections', parameters('todo_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('conversionservice_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('office365_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('outlooktasks_Connection_Name'))]"]},{"type":"Microsoft.Web/connections","name":"[parameters('todo_Connection_Name')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'todo')]"},"displayName":"[parameters('todo_Connection_Name')]"}},{"type":"Microsoft.Web/connections","name":"[parameters('conversionservice_Connection_Name')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'conversionservice')]"},"displayName":"[parameters('conversionservice_Connection_Name')]"}},{"type":"Microsoft.Web/connections","name":"[parameters('office365_Connection_Name')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]"},"displayName":"[parameters('office365_Connection_Name')]"}},{"type":"Microsoft.Web/connections","name":"[parameters('outlooktasks_Connection_Name')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'outlooktasks')]"},"displayName":"[parameters('outlooktasks_Connection_Name')]"}}]}