IfIHaveAMeetingMoreThan150KmAwayUpdateFamilyCalendar/Add event to communal calender.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}},"bingmaps_Connection_Name":{"defaultValue":"bingmaps","type":"String","metadata":{"description":"Name of the connection."}},"office365_1_Connection_Name":{"defaultValue":"office365_1","type":"String","metadata":{"description":"Name of the connection."}}},"resources":[{"type":"Microsoft.Logic/workflows","name":"[parameters('logicAppName')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Http","inputs":{"schema":{"type":"object","properties":{"startdate":{"type":"string"},"stopdate":{"type":"string"},"location":{"type":"string"}}},"method":"POST"}}},"actions":{"Get_route":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetRoute"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['bingmaps']['connectionId']"}},"method":"get","path":"/REST/V1/Routes/Driving","queries":{"wp.0":"Frejavägen 27, Falun","wp.1":"@triggerBody()?['location']"},"authentication":"@parameters('$authentication')"}},"Get_calendar_view_of_events_(V2)":{"runAfter":{"Terminate":["Skipped"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetEventsCalendarViewV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['office365_1']['connectionId']"}},"method":"get","path":"/datasets/calendars/v2/tables/items/calendarview","queries":{"calendarId":"AAMkAGMwMjVjNGFiLTY5YTYtNDk4MS1iZWEwLTcxOGQ2MTE2ZTdjYwBGAAAAAACeeKp2qs0eSY0aN2yYNI0vBwAeT2MtzTkPS5vAS7qr6-rrAAAAAAAHAAAW3PZejwZjQ7-65eWCYcc4AACf7orPAAA=","startDateTimeOffset":"@{formatDateTime(triggerBody()?['startdate'],'MM-dd-yy')}","endDateTimeOffset":"@{formatDateTime(triggerBody()?['stopdate'],'MM-dd-yy')}"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@body('Get_calendar_view_of_events_(V2)')?['value']","actions":{"Condition":{"actions":{"Delete_event":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"CalendarDeleteItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['office365_1']['connectionId']"}},"method":"delete","path":"/datasets/calendars/tables/@{encodeURIComponent(encodeURIComponent('AAMkAGMwMjVjNGFiLTY5YTYtNDk4MS1iZWEwLTcxOGQ2MTE2ZTdjYwBGAAAAAACeeKp2qs0eSY0aN2yYNI0vBwAeT2MtzTkPS5vAS7qr6-rrAAAAAAAHAAAW3PZejwZjQ7-65eWCYcc4AACf7orPAAA='))}/items/@{encodeURIComponent(encodeURIComponent(items('Apply_to_each')?['Id']))}","authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":"@contains(items('Apply_to_each')?['Subject'], '(AUTO) KH:')","type":"If"}},"runAfter":{"Get_calendar_view_of_events_(V2)":["Succeeded"]},"type":"Foreach"},"Terminate":{"runAfter":{"Get_route":["Failed","TimedOut"]},"type":"Terminate","inputs":{"runStatus":"Succeeded"}},"Travel_distance_greater_than_150_km":{"actions":{"End_location_confidence_is_high":{"actions":{"Create_event_(V2)":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"V2CalendarPostItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['office365_1']['connectionId']"}},"method":"post","body":{"Subject":"(AUTO) KH: @{body('Get_route')?['routeLegs']?['endLocation']?['address']?['formattedAddress']}","Start":"@triggerBody()?['startdate']","End":"@triggerBody()?['stopdate']","IsAllDay":true},"path":"/datasets/calendars/v2/tables/@{encodeURIComponent(encodeURIComponent('AAMkAGMwMjVjNGFiLTY5YTYtNDk4MS1iZWEwLTcxOGQ2MTE2ZTdjYwBGAAAAAACeeKp2qs0eSY0aN2yYNI0vBwAeT2MtzTkPS5vAS7qr6-rrAAAAAAAHAAAW3PZejwZjQ7-65eWCYcc4AACf7orPAAA='))}/items","authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":"@equals(body('Get_route')?['routeLegs']?['endLocation']?['confidence'], 'High')","type":"If"}},"runAfter":{"Apply_to_each":["Succeeded"]},"expression":"@greaterOrEquals(body('Get_route')?['travelDistance'], 150)","type":"If"}},"outputs":{}},"parameters":{"$connections":{"value":{"bingmaps":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'bingmaps')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('bingmaps_Connection_Name'))]","connectionName":"[parameters('bingmaps_Connection_Name')]"},"office365_1":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365_1')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('office365_1_Connection_Name'))]","connectionName":"[parameters('office365_1_Connection_Name')]"}}}},"runtimeConfiguration":{"collections":{"maximumItemCount":100000},"performanceProfile":{"throttles":{"mode":"Medium"}}}},"dependsOn":["[resourceId('Microsoft.Web/connections', parameters('bingmaps_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('office365_1_Connection_Name'))]"]},{"type":"Microsoft.Web/connections","name":"[parameters('bingmaps_Connection_Name')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'bingmaps')]"},"displayName":"[parameters('bingmaps_Connection_Name')]"}},{"type":"Microsoft.Web/connections","name":"[parameters('office365_1_Connection_Name')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365_1')]"},"displayName":"[parameters('office365_1_Connection_Name')]"}}]}