IfIHaveAMeetingMoreThan150KmAwayUpdateFamilyCalendar/when an event is added updated or deleted route to correct action.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}},"office365_1_Connection_Name":{"defaultValue":"office365_1","type":"String","metadata":{"description":"Name of the connection."}}},"resources":[{"type":"Microsoft.Logic/workflows","name":"[parameters('logicAppName')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_event_is_added,_updated_or_deleted":{"recurrence":{"interval":1,"frequency":"Minute"},"splitOn":"@triggerBody()?['value']","metadata":{"flowSystemMetadata":{"swaggerOperationId":"CalendarGetOnChangedItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['office365_1']['connectionId']"}},"method":"get","path":"/datasets/calendars/tables/@{encodeURIComponent(encodeURIComponent('AAMkAGRiNDYxYTYwLTk0ZDktNGIyNi05NmI2LWJiN2YzNzFmODYwZABGAAAAAACtAvOU2x6MR5Gntt8wbc-mBwDDw78SKqyiT6IEUpc1U5fTAAAAAAEGAADDw78SKqyiT6IEUpc1U5fTAAAAABdpAAA='))}/onchangeditems","queries":{"incomingDays":300,"pastDays":0},"authentication":"@parameters('$authentication')"}}},"actions":{"Location_text_length":{"runAfter":{"if_even_is_deleted":["Succeeded"]},"type":"Compose","inputs":"@length(triggerBody()?['Location'])"},"Location_is_skype_meeting":{"runAfter":{"Terminate":["Skipped"]},"type":"Compose","inputs":"@contains(triggerBody()?['Location'],'Skype')"},"Condition_2":{"actions":{"HTTP":{"runAfter":{"Event_json":["Succeeded"]},"type":"Http","inputs":{"method":"POST","uri":"https://prod-02.westcentralus.logic.azure.com:443/workflows/cad20a8b9d424d309c8f1621519ba1ff/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=y9U43Y7lYMannDS6ThngW7nyIku_R-YCfm_5zZVCYms","body":"@outputs('Event_json')"}},"Event_json":{"runAfter":{},"type":"Compose","inputs":{"startdate":"@{triggerBody()?['Start']}","stopdate":"@{triggerBody()?['End']}","location":"@{triggerBody()?['Location']}"}}},"runAfter":{"Location_is_WE_OCP":["Succeeded"]},"else":{"actions":{"Terminate_3":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}},"expression":"@equals(and(and(not(equals(outputs('Location_is_skype_meeting'), true)), greaterOrEquals(outputs('Location_text_length'), 5)), not(equals(outputs('Location_is_WE_OCP'), true))), true)","type":"If"},"Terminate":{"runAfter":{"Location_text_length":["Failed"]},"type":"Terminate","inputs":{"runStatus":"Succeeded"}},"if_even_is_deleted":{"actions":{"Terminate_2":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"runAfter":{},"expression":"@equals(triggerBody()?['ActionType'], 'deleted')","type":"If"},"Location_is_WE_OCP":{"runAfter":{"Location_is_skype_meeting":["Succeeded"]},"type":"Compose","inputs":"@or(contains(triggerBody()?['Location'],'we ocp'),contains(triggerBody()?['Location'],'WE | OCP'))"}},"outputs":{}},"parameters":{"$connections":{"value":{"office365_1":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365_1')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('office365_1_Connection_Name'))]","connectionName":"[parameters('office365_1_Connection_Name')]"}}}},"runtimeConfiguration":{"collections":{"maximumItemCount":100000},"performanceProfile":{"throttles":{"mode":"Medium"}}}},"dependsOn":["[resourceId('Microsoft.Web/connections', parameters('office365_1_Connection_Name'))]"]},{"type":"Microsoft.Web/connections","name":"[parameters('office365_1_Connection_Name')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365_1')]"},"displayName":"[parameters('office365_1_Connection_Name')]"}}]}